@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400&display=swap');

@font-face {
  font-family: Lexend;
  src: url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400&display=swap');
}

html, body, #next {
  height: 100vh;
  width: 100vw;
}